__pycache__/
.tars/
.vscode/
.env
realtimesst.log
test.py
tools/__pycache__/
tools/attendance.py 
token_check.py
tokens_check.txt
tars.db
tools/settings.toml
*.wav
screenshots/
Tars_submission.zip
Local_LLM.py
Markdown/
tools/web_crawl.py
REFACTOR_PLAN.md
opencode.json
test.json
Provider/
memory.md
tools/tools_settings.json
assets/large-v3-turbo.pt
assets/audio.wav
assets/audio
assets/tts_models/en_US-bryce-medium.onnx
assets/tts_models/en_US-bryce-medium.onnx.json
assets/tts_models/en_US-danny-low.onnx
assets/tts_models/en_US-danny-low.onnx.json

